::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(141 155 186);
  border-radius: 2rem;
}

.set-likes.icon-like-fill:hover {
  cursor: pointer;
  color: #dc3545;
}

.link-dark {
  transition: all 0.3s ease-in-out;
}

.link-dark:hover {
  color: #49b1f5 !important;
  text-decoration-color: #49b1f5 !important;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: flex;
  place-content: center;
  place-items: center;
  background: #fff;
  transition: all 0.3s ease-in-out;
  color: transparent;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}

#loader span {
  text-shadow: 0 0 2px rgba(85, 85, 85, 0.9), 0 0 0 rgba(0, 0, 0, 0.3),
    0 0 0 rgba(0, 0, 0, 0.1), 0 0 0 rgba(22, 22, 22, 0.5),
    0 0 0 rgba(0, 0, 0, 0.3), 0 0 0 rgba(22, 22, 22, 0.2),
    0 0 0 rgba(22, 22, 22, 0.45);
  animation: loader 0.85s ease-in-out infinite alternate;
}

@keyframes loader {
  to {
    text-shadow: 0 0 2px rgba(204, 208, 212, 0.2), 0 0 3px rgba(0, 0, 0, 0.02),
      0 0 0 transparent, 0 0 0 hsla(0, 0%, 100%, 0), 0 0 0 transparent,
      0 0 0 hsla(0, 0%, 100%, 0), 0 0 0 hsla(0, 0%, 100%, 0);
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.page-navigator {
  list-style: none;
  margin: 1rem 0 0 0;
  display: flex;
  gap: 0.5rem;
  place-content: end;
}

.page-navigator li a {
  display: block;
  text-decoration: none;
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #6c757d;
  border-radius: 4px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.page-navigator li.current a,
.page-navigator li a:hover {
  background-color: #212529;
  color: #fff;
}

.offcanvas .navbar-nav .nav-item {
  padding: 0.5rem 1rem;
  border-top: 1px solid #dee2e6;
}

.offcanvas-header .stat {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.avatar img,
.social a {
  transition: all 0.3s ease-in-out;
}

.avatar img:hover,
.social a:hover {
  transform: scale(1.2);
}

.post-content img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 4px;
}

.post-near a,
.post-content a,
.post-copyright a {
  color: rgba(73, 177, 245, 0.8);
  text-decoration-color: rgba(73, 177, 245, 0);
  text-underline-offset: 0.25em;
  transition: all 0.3s ease-in-out;
}
.post-near a:hover,
.post-content a:hover,
.post-copyright a:hover {
  color: rgba(73, 177, 245, 1);
  text-decoration-color: rgba(73, 177, 245, 1);
}

.tags a {
  text-decoration: none;
  color: rgba(73, 177, 245, 0.75);
  background-color: rgba(207, 226, 255, 0.75);
  border-radius: 4px;
  margin-left: 4px;
  padding: 2px 8px;
  transition: all 0.3s ease-in-out;
}

.tags a:hover {
  color: rgba(73, 177, 245, 1);
  background-color: rgba(207, 226, 255, 1);
}

.rank a::before {
  content: "";
  display: inline-block;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #212529;
  border-radius: 50%;
  margin-right: 0.25rem;
  vertical-align: middle;
}

.post-list .post {
  display: grid;
  grid-template-columns: 30% 1fr;
  gap: 1.5rem;
}

.post-list .post:hover {
  background-color: #f8f9fa;
}

.banner img,
.post-list .post img,
.post-list .categories a,
.post-list .post-title a {
  transition: all 0.3s ease-in-out;
}
.banner:hover img,
.post-list .post:hover img {
  transform: scale(1.1);
}

.post-list .post-title a,
.post-list .post-content {
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.post-list .post-title a {
  color: #212529;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.post-list .post-title a,
.post-list .categories a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.post-list .post-title a:hover {
  color: #49b1f5;
}

.post-list .categories a {
  color: #fff;
  font-size: 0.875rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
  margin-left: 0.25rem;
}

.post-list .categories a:hover {
  color: #49b1f5;
}

.post-list .post-content {
  -webkit-line-clamp: 3;
  line-clamp: 3;
  height: 6em;
}

.links ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.links ul li {
  display: flex;
  gap: 1rem;
  place-items: center;
  padding: 0.5rem;
  border-radius: 5px;
  width: 200px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

.links ul li:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.links img {
  width: 48px;
  height: 48px;
}

.links a {
  color: #666;
  font-size: 1.2rem;
  text-decoration: none;
}

.links a:hover {
  color: #49b1f5;
  text-decoration: underline;
  text-underline-offset: 0.25em;
  text-decoration-color: #49b1f5;
}

.works .card {
  overflow: hidden;
  border: none;
  text-decoration: none;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.1);
}

.works .card .card-body {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.works .card .card-body .card-text {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0.95rem;
  overflow: auto;
  opacity: 0;
}

.works .card .card-title {
  box-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.1);
}

.works .card,
.works .card .card-body .card-img,
.works .card .card-body .card-text,
.works .card .card-title {
  transition: all 0.3s ease-in-out;
}

.works .card:hover {
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.works .card:hover .card-img {
  transform: scale(1.1);
}

.works .card:hover .card-text {
  top: 0;
  opacity: 0.75;
}

.works .card .card-title:hover {
  color: #49b1f5;
}

.works .card .card-body .card-text::-webkit-scrollbar {
  display: none; /* 隐藏滚动条 */
}

.back-to-top {
  position: fixed;
  bottom: 10rem;
  right: 0;
  z-index: 9000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #adb5bd;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.back-to-top:hover {
  cursor: pointer;
  background-color: #6c757d;
}

.back-to-top.show {
  right: 2rem;
  opacity: 1;
  visibility: visible;
}

@media (min-width: 992px) {
  .offcanvas .navbar-nav .nav-item {
    border-top: none;
  }
}
